.elements__remove {
    position: absolute;
    background-image: url(../../../images/remove-icon.svg);
    padding: 0; 
    background-color: transparent;
    border: 0;
    width: 18px;
    height: 20px;
    top: 18px;
    right: 15px;
}

.elements__remove:hover {
    opacity: 0.6;
    cursor: pointer;
}