.popup__close-image {
  position: relative;
  top: -621px;
  right: -38px;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-position: center;
  border: none;
  cursor: pointer;
  background-image: url(../../../images/сlose-button.svg);
  background-repeat: no-repeat;
  align-self: flex-end;
}
    
.popup__close-image:hover {
  opacity: 0.6;  
}
