.profile__editButton {
    background-color: transparent;
    width: 24px;
    height: 24px;
    align-self: flex-end;
    margin-left: 8px;
    margin-bottom: 3px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(../../../images/EditButton.svg);
    padding: 0;
}

.profile__editButton:hover {
    cursor: pointer;
    opacity: 0.5;
}

@media screen and (max-width: 470px) {
    .profile__editButton {
       margin: 0 0 0 12px;
    }
}
